<h1>Showing <%= Dojo.all.count %> Dojos</h1>



<table>
    <thead>
        <th>Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
    </thead>
    <tbody>
        <% @dojos.each do |dojo| %>
        <tr>
            <td><%= dojo.branch %></td>
            <td><%= dojo.street %></td>
            <td><%= dojo.city %></td>
            <td><%= dojo.state %></td>
            <td>
                <a href="/dojos/<%= dojo.id %>">show</a> |
				<a href="/dojos/<%= dojo.id %>/edit">edit</a> |
				<a href="/dojos/<%= dojo.id %>" data-method="delete">delete</a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<h1><%= link_to "New Dojo", '/dojos/new' %></h1>