
<h1><%= @dojo.branch %> Branch</h1>

<ul>
    <li>Branch: <%= @dojo.branch %></li>
    <li>Street: <%= @dojo.street %></li>
    <li>City: <%= @dojo.city %></li>
    <li>State: <%= @dojo.state %></li>
</ul>
    <a href="/dojos">home</a> | <a href="/dojos/<%= @dojo.id %>/edit">edit</a>